src/test/wsdl/agilossoapservice-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1" xmlns:intf="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://exception.rpc.jira.atlassian.com" xmlns:tns2="http://beans.soap.rpc.jira.atlassian.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://exception.rpc.jira.atlassian.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1"/>
   <import namespace="http://beans.soap.rpc.jira.atlassian.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RemoteException">
    <sequence/>
   </complexType>
   <complexType name="RemoteValidationException">
    <complexContent>
     <extension base="tns1:RemoteException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RemotePermissionException">
    <complexContent>
     <extension base="tns1:RemoteException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RemoteAuthenticationException">
    <complexContent>
     <extension base="tns1:RemoteException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://beans.soap.rpc.jira.atlassian.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1"/>
   <import namespace="http://exception.rpc.jira.atlassian.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RemoteEntity">
    <sequence/>
   </complexType>
   <complexType name="RemoteUser">
    <complexContent>
     <extension base="tns2:RemoteEntity">
      <sequence>
       <element name="email" nillable="true" type="xsd:string"/>
       <element name="fullname" nillable="true" type="xsd:string"/>
       <element name="name" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.soap.rpc.jira.atlassian.com"/>
   <import namespace="http://exception.rpc.jira.atlassian.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns2_RemoteUser">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RemoteUser[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="RemoteException">

      <wsdl:part name="fault" type="tns1:RemoteException"/>

   </wsdl:message>

   <wsdl:message name="RemoteAuthenticationException">

      <wsdl:part name="fault" type="tns1:RemoteAuthenticationException"/>

   </wsdl:message>

   <wsdl:message name="getAssignableUsersRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAssignableUsersResponse">

      <wsdl:part name="getAssignableUsersReturn" type="impl:ArrayOf_tns2_RemoteUser"/>

   </wsdl:message>

   <wsdl:message name="RemotePermissionException">

      <wsdl:part name="fault" type="tns1:RemotePermissionException"/>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="AgilosSoapService">

      <wsdl:operation name="login" parameterOrder="in0 in1">

         <wsdl:input message="impl:loginRequest" name="loginRequest"/>

         <wsdl:output message="impl:loginResponse" name="loginResponse"/>

         <wsdl:fault message="impl:RemoteAuthenticationException" name="RemoteAuthenticationException"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="getAssignableUsers" parameterOrder="in0 in1">

         <wsdl:input message="impl:getAssignableUsersRequest" name="getAssignableUsersRequest"/>

         <wsdl:output message="impl:getAssignableUsersResponse" name="getAssignableUsersResponse"/>

         <wsdl:fault message="impl:RemotePermissionException" name="RemotePermissionException"/>

         <wsdl:fault message="impl:RemoteAuthenticationException" name="RemoteAuthenticationException"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="agilossoapservice-v1SoapBinding" type="impl:AgilosSoapService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.jira.agilos.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteAuthenticationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteAuthenticationException" namespace="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAssignableUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAssignableUsersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.jira.agilos.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAssignableUsersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemotePermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemotePermissionException" namespace="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="RemoteAuthenticationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteAuthenticationException" namespace="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AgilosSoapServiceService">

      <wsdl:port binding="impl:agilossoapservice-v1SoapBinding" name="agilossoapservice-v1">

         <wsdlsoap:address location="http://192.168.0.103:8181/rpc/soap/agilossoapservice-v1"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
